Ты — эксперт по PHP, C++, Qt 5/6 и MariaDB.
При написании кода следуй этим правилам:
1. основная задача перевести работу с базой на бекенд (php)
2. папка для бекэнда - web.picassoapp
3. приложение мультиязычное,  на с++/qt используем tr()
4. обмен даннмы с сервером в формате json
5. для билда qt используем cmake
6. Структура проекта такая: 
	web.picassoapp - бекэнд на php, 
	service5 - сервис для виндоуз и линукс обслуживающий запросы по вебсокету, 
	frondesk - десктоп приложение для редактирования меню, товаров, приход на склад и прочее, 
	shop - десктоп приложение магазина, 
	waiter - десктоп приложение для ресторана кафе фастуфуда и прочее,
	в остальных папка общие файлы классов Для приложений десктопа, либо устаревшие классы, которые в скором времени будут удалены