* {
	padding:0;
	margin:0;
}

body {
	padding:30px;
	display:flex;
	flex-direction:column;
}

table.minimalistBlack {
	border: 2px solid #000000;
	width: 100%;
	text-align: left;
	border-collapse: collapse;
}
table.minimalistBlack td, table.minimalistBlack th {
	border: 1px solid #000000;
	padding: 5px 4px;
}
table.minimalistBlack tbody td {
	font-size: 13px;
}
table.minimalistBlack thead {
	background: #CFCFCF;
	background: -moz-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
	background: -webkit-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
	background: linear-gradient(to bottom, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
	border-bottom: 1px solid #000000;
}
table.minimalistBlack thead th {
	font-size: 15px;
	font-weight: bold;
	color: #000000;
	text-align: left;
	border-left: 1px solid #D0E4F5;
}
table.minimalistBlack thead th:first-child {
	border-left: none;
}

table.minimalistBlack tfoot {
	font-size: 14px;
	font-weight: bold;
	color: #000000;
	border-top: 2px solid #000000;
}
table.minimalistBlack tfoot td {
	font-size: 14px;
}

.div-menu {
	min-width:300px;
	width:90%;
	margin:0 auto;
}

.div-history {
	width:90%;
	margin:0 auto;
}

.ul1 {
	margin-left: 10px;
}

.ul2 {
	margin-left: 50px;
}

.textimg {
	width:20px;
	height:20px;
}

.header {
	font-size:14pt;
	color:#0044ff;
	margin-top:30px;
	text-indent:25px;
}

.history {
	font-size:12pt;
	text-indent:25px;
}